{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Рецепт шаурмы</h1>
            <h2>Ингридиенты</h2>
            <ul>
                <li>600 г филе куриных бедер</li>
                <li>200 г помидоров</li>
                <li>150 г моркови</li>
                <li>100 г свежего огурца</li>
                <li>100 г листьев салата</li>
                <li>100 г сметаны</li>
                <li>100 г майонеза</li>
                <li>70 г кетчупа</li>
                <li>2 лаваша</li>
                <li>2,5 ч. л. уксуса (9%)</li>
            </ul>
            <h2>Инструкция</h2>
            <p>Для приготовления берем супругу, а сами идем играть в Red Dead Redemption 2</p>
            <img src="../static/img/shawarma.jpg" alt="No Image">
        </div>
    </div>
</div>
{% endblock %}